<!DOCTYPE html>
<html>
<head>
<title>测壹发</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<meta name="keywords" content="测壹发">
<meta charset="UTF-8">
<meta name="description"  content="测壹发">
<link href="/resources/css/bootstrap.min.css" rel="stylesheet">
<link href="/resources/css/base.css" rel="stylesheet">
<style>
html,body{
background-color: white;
}
</style>
</head>

<body ng-app="indexApp">
	<div ng-controller="indexCtrl" class="comment-wrap">
	<!-- 标志 -->
		<div class="comment-top-fixed comment-title-top">
		<span class="comment-title-center" >测壹发</span>
		</div>
	<!-- 标志end -->
		<!-- 新闻列表 -->
		<div style="margin-top:50px !important;">
		
			<!-- testHot -->
		<div   class="listGroup list-group media "  >
			 <div style="position:relative;left:0;top:0">
			  <a style="padding:0 !important;" url="/pages/problem/problem?test_id={{testHot.test_id}}&problem_id={{testHot.problemList[0].problem_id}}" >
			    <img class="app-topbar" ng-src="{{testHot.img}}" style="border-bottom:1px solid #ccc;width:100%;" />
			    <div style="position:absolute;left:5%;top:20%;color:white;width:90%;font-size:26px;" class="app-center">{{testHot.title}}
			    </div>
			<div style="position:absolute;left:10%;top:60%;color:white;width:80%;font-size:16px;" class="app-center">{{testHot.problemList[0].name}}</div>
			  </a>
			  </div>
		</div>
		<!-- testHot end -->
			<!-- testList -->
		<div   class="listGroup list-group media "  ng-repeat="test in testList">
			 <div style="position:relative;left:0;top:0">
			  <a style="padding:0 !important;" url="/pages/problem/problem?test_id={{test.test_id}}&problem_id={{test.problemList[0].problem_id}}" >
			    <img class="app-topbar" ng-src="{{test.img}}" style="border-bottom:1px solid #ccc;width:100%;" />
			    <div style="position:absolute;left:5%;top:20%;color:white;width:90%;font-size:26px;" class="app-center">{{test.title}}
			    </div>
			<div style="position:absolute;left:10%;top:60%;color:white;width:80%;font-size:16px;" class="app-center">{{test.problemList[0].name}}</div>
			  </a>
			  </div>
		</div>
		<!-- testList end -->
		
		<!-- 分类推荐 -->
		<div class="list-group media comment-list-item">
			<div class="media-center">
				<div class="comment-hot-title">
					<span class="comment-hot-icon"></span>
					<span class="comment-hot-word">分类推荐</span>
					<span class="comment-hot-line"></span>
				</div>
			</div>
		</div>
		<!-- 分类推荐 九宫图 -->
		 <div style="text-align:center;">
                <a  url="/pages/list/list?test_type={{test.type}}" style="margin:3px 3px;display:inline-block;width:31% !important;position:relative;left:0;top:0;padding:0 !important;" ng-repeat="test in testList">
                    <img style="width:100%;" ng-src="{{test.img}}" />
                     <div style="position:absolute;left:0;top:30%;color:white;width:100%;font-size:16px;">
                     <div style="text-align:center;" class="app-center">{{test.type}}
                     </div>
    		</div>
                </a>
            </div>
            <!-- 分类推荐 九宫图 end-->
            <!-- 分类推荐 end -->
            <!-- 热门推荐 -->
		<div class="list-group media comment-list-item">
			<div class="media-center">
				<div class="comment-hot-title">
					<span class="comment-hot-icon"></span>
					<span class="comment-hot-word">热门推荐</span>
					<span class="comment-hot-line"></span>
				</div>
			</div>
		</div>
		<!-- 热门推荐 end -->
			
		<!-- 列表 -->
		<a style="padding:0 !important;border-bottom:1px solid #ccc; width:90% !important;margin-left:5%;display:inline-block;"  class="" ng-repeat="hotTest in hotTestList"   ng-click="newsDetails(news.type,news.news_id)">
			
			<div class="media-left" style="vertical-align:middle;">
				 <img class="media-object  comment-list-item-img "
					ng-src="{{hotTest.img}}" >
			</div>
			<div class="media-body comment-right-body">
				<div class="media-heading" ></div>
				<div class="pull-left">
					<div class="comment-right-body-title " style="word-break: break-all;overflow:hidden;height:40px;"><span ng-bind="hotTest.title"></span></div>
					<div class="text-muted">
					<span class="newsType" ng-bind="hotTest.type"></span>
					<br/>
					<span ng-bind="hotTest.update_date"></span>
					</div>
				</div>
			</div>
		</a>
		<!-- 列表end -->

		</div>
		<!-- 新闻列表end -->
		<!-- 加载更多end -->
		<a ng-if="newsList.length>10" class="btn btn-default btn-block text-center" id="addMore" ng-click="addMore()">
		<div>点击加载更多》</div>
		</a>
		<!--  加载更多end -->
	</div>
		<!-- 底部end -->
		<div class="comment-bottom">Copyright 2017 itcast Inc,All rights reserved.</div>
		<!--  底部end -->
		<!-- cnzz -->
		<div style="display:none;">
						</div>
	<script src="/resources/js/jquery2.1.js"></script>
	<script src="/resources/js/bootstrap3.2.0.js"></script>
	<script src="/resources/js/angularjs.min.1.5.7.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="/resources/js/base.js"></script>
	<script>
	$(function(){
		/* $(window).scroll(function(){
    		console.log(myUtils.isScrollBottom(document));
    		if(myUtils.isScrollBottom(document)){}
    			
    		}); */
	});
    	var indexApp=angular.module('indexApp',[]);
    	indexApp.controller('indexCtrl',function($scope,$sce){
  		//初始化等级为1的热门测试，1个
    		function initTestHot(){
    			$.ajax({  
  		          type : "get",
  		          async : false,
  		          url : "/test/list/all",  
  		          success : function(data){
  		        	 for (var i = 0; i < data.length; i++) {
  		        		if(data[i].level==1){
  		        			$.ajax({  
  		      		          type : "get", 
  		      		          async : false,
  		      		          url : "/test/"+data[i].test_id+"/all",  
  		      		          success : function(d){
  		      		        	$scope.testHot=JSON.parse(d);
  		      		       // $scope.testHot.img="https://ceyifa.fuwu88.cn"+$scope.testHot.img;
  		      		        	  myUtils.myPrevToast("加载完成", null, "remove");
  		      		          }  
  		      		          });
  		        		}
  		        	 }
  		          }  
  		          });
  		}
    		initTestHot();
    		
    		$scope.testList=[];//热门测试列表初始化；
    		//初始化等级为2的热门测试列表，6个
    		function initTestList(type){
    			$.ajax({  
  		          type : "get",
  		          async : false,
  		          url : "/test/list/type?type="+type,  
  		          success : function(data){
  		        	 for (var i = 0; i < data.length; i++) {
  		        		if(data[i].level==2){
  		        			$.ajax({  
  		      		          type : "get", 
  		      		          async : false,
  		      		          url : "/test/"+data[i].test_id+"/all",  
  		      		          success : function(d){
  		      		        	var test=JSON.parse(d);
  		      		        $scope.testList.push(test);
  		      		        	  myUtils.myPrevToast("加载完成", null, "remove");
  		      		          }  
  		      		          });
  		        		}
  		        	 }
  		          }  
  		          });
  		}
    		initTestList("爱情测试");
    		initTestList("职场测试");
    		initTestList("星座测试");
    		initTestList("财运测试");
    		initTestList("性格测试");
    		initTestList("社交测试");
    		
    		$scope.hotTestList=[];//热门推荐初始化
    		$scope.pageNum=1;//第多少个
    		$scope.pageSize=10;//每页个数
    		//热门推荐
    		function initHotTestList(){
    			$.ajax({  
  		          type : "get",
  		          async : false,
  		          url : "/test/list?pageNum="+$scope.pageNum+"&pageSize="+$scope.pageSize+"&orderName=update_date&orderWay=desc",  
  		          success : function(data){
  		        	 //for (var i = 0; i < data.length; i++) {
  		      		        	//var test=JSON.parse(data);
  		      		        $scope.hotTestList=data;
  		      		         myUtils.myPrevToast("加载完成", null, "remove");
  		        	 //}
  		          }  
  		          });
  		}
    		initHotTestList();
    		
    		//下拉刷新
    		function onReachBottom(){
    			$scope.pageNum=$scope.pageNum+$scope.pageSize;
    			$scope.pageSize=$scope.pageSize;
    			myUtils.myFootLoadingToast(null,function(){
    			$.ajax({  
  		          type : "get",
  		          async : false,
  		          url : "/test/list?pageNum="+$scope.pageNum+"&pageSize="+$scope.pageSize+"&orderName=update_date&orderWay=desc",  
  		          success : function(data){
  		      		     myUtils.myFootLoadingToast(null,null,"remove");
  		        	 if(data.length<=0){
  		        	      return;
  		        	    }
  		      		        $scope.hotTestList=$scope.hotTestList.concat(data);
  		      		        $scope.$apply();
  		      		         myUtils.myPrevToast("加载完成", null, "remove");
  		          }  
  		          });
    			},"add");
  		}
    		$(window).scroll(function(){
        		//console.log(myUtils.isScrollBottom(document));
        		if(myUtils.isScrollBottom(document)){
        			onReachBottom();
        		}
        			
        		});
    		
    		 $scope.addMore=function(){
    			$("#addMore").children().text("正在加载中...");
    			var pageNum=$(".listGroup").size()+1;
    			var type=$(".nav-active div").text().trim();
    			console.log(pageNum)
    			console.log(type)
    			initData({
        			pageNum:pageNum,
        			pageSize:10,
        			type:type,
        			orderName:"time",
        			orderWay:"desc"
        			});
    			$("#addMore").children().text("点击加载更多》");
    		}; 
    		//跳转页面
    		$scope.newsDetails=function(type,news_id){
    			location.replace("/news_details?type="+type+"&news_id="+news_id);
    			console.log("/news_details?type="+type+"&news_id="+news_id)
    		};

    		//广告代码
    		//$("body").append("<div><img style='width:100%;height:10%;position:fixed;left:0;bottom:0'  src='/resources/img/splash.jpg'></img></div>");
    		/* $.get("/adsense/list/0",function(data){
    			if(data&&data[0].content){    				
    			console.log(data)
    			myUtils.executeJS(data[0].content);
    			}
  
    		}); */
    	});
    </script>
</body>
</html>
