<!DOCTYPE html>
<html>
<head>
<title>测壹发</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<meta name="keywords" content="测壹发">
<meta charset="UTF-8">
<meta name="description"  content="测壹发">
<link href="/resources/css/bootstrap.min.css" rel="stylesheet">
<link href="/resources/css/base.css" rel="stylesheet">
</head>

<body ng-app="indexApp">
	<div ng-controller="indexCtrl" class="comment-wrap">
	<!-- 标志 -->
		<div class="comment-top-fixed comment-title-top">
		<i class="glyphicon glyphicon-usd" style="top:4px;"></i>
		<span class="comment-title-center" >测壹发</span>
		</div>
	<!-- 标志end -->
	<!-- 导航 -->
		<div class="row text-center comment-list-item comment-top-fixed" style="top:50px !important;" id="topNav">
			
			<a class="col-xs-2 col-xs-offset-1" href="#" ng-click="list('介绍')">
				<div>介绍</div>
			</a>
			<a class="col-xs-2" href="#" ng-click="list('教程')">
				<div>教程</div>
			</a>
			<a class="col-xs-2" href="#" ng-click="list('资讯')">
				<div>资讯</div>
			</a>
			<a class="col-xs-2" href="#" ng-click="list('客服')">
				<div>客服</div>
			</a>
			<a class="col-xs-2" href="#" ng-click="list('登录')">
				<div>登录</div>
			</a>
		</div>
		<!-- 导航end -->
		<!-- 新闻列表 -->
		<div style="margin-top:105px !important;">
		
			<!-- 介绍 -->
		<div ng-if="navMenu=='介绍'||navMenu=='客服' || navMenu=='登录'"  class="listGroup list-group media comment-list-item" ng-repeat="news in newsList" >
			
			 <div class="media-center">
				<div ><h3 ng-bind="news.title"></h3></div>
				<div class="text-muted">
					<span ng-bind="news.time"></span>
					<span ng-bind="news.type"></span>
				</div>
				<span ng-bind-html="html"></span>
				 <div ng-bind-html="news.content" id="newsDetails">
				</div> 
			</div>
		<!-- 	<div ng-if="navMenu=='客服'">
			<div style="width:35px !important;height:110px; background:url('resources/img/nlogin.png') no-repeat"></div>
			</div> -->
		</div>
		<!-- 介绍end -->
		<!-- 教程 -->
		<div ng-if="navMenu=='教程'" class="listGroup list-group media comment-list-item" ng-repeat="news in newsList"  ng-click="newsDetails(news.type,news.news_id)">
			<div class="media-left">
				<a href="#"> <img class="media-object  comment-list-item-img "
					ng-src="{{news.img_address||newsInit.img_address}}" >
				</a>
			</div>
			<div class="media-body comment-right-body">
				<div class="media-heading" ></div>
				<div class="pull-left">
					<div class="comment-right-body-title"><span ng-bind="news.title||newsInit.title"></span></div>
					<div class="text-muted">
					<span ng-bind="news.time||newsInit.time"></span>
					<span class="newsType" ng-bind="news.type||newsInit.type"></span></div>
				</div>
			</div>
		</div>
		<!-- 教程end -->
		
		<!-- 第一列表 -->
		<!-- <div ng-if="navMenu=='资讯'" class="listGroup list-group media comment-list-item" ng-repeat="news in newsList"  ng-if="!$index" ng-click="newsDetails(news.type,news.news_id)">
			
			 <div class="media-center">
				<a href="#"> <img style="width:104%;height:200px;margin:-25px -2%;" class="media-object  comment-list-item-img "
					ng-src="{{news.img_address||newsInit.img_address}}" >
					<span class="comment-hot-radius-icon">最新</span>
				</a>
			</div>
			<div class="media-body comment-right-body">
				<div class="media-heading" ></div>
				<div class="pull-left">
					<div class="comment-right-body-title"><span ng-bind="news.title||newsInit.title"></span></div>
					<div class="text-muted"><span ng-bind="news.time||newsInit.time"></span><span class="newsType" ng-bind="news.type||newsInit.type"></span></div>
				</div>
			</div> 
		</div> -->
		<!-- 第一列表end -->
		<!-- 第二列表 -->
		<div ng-if="navMenu=='资讯'" class="listGroup list-group media comment-list-item" ng-repeat="news in newsList"   ng-click="newsDetails(news.type,news.news_id)">
			<div class="media-left">
				<a href="#"> <img class="media-object  comment-list-item-img "
					ng-src="{{news.img_address||newsInit.img_address}}" >
				</a>
			</div>
			<div class="media-body comment-right-body">
				<div class="media-heading" ></div>
				<div class="pull-left">
					<div class="comment-right-body-title"><span ng-bind="news.title||newsInit.title"></span></div>
					<div class="text-muted">
					<span ng-bind="news.time||newsInit.time"></span>
					<span class="newsType" ng-bind="news.type||newsInit.type"></span></div>
				</div>
			</div>
		</div>
		<!-- 第二列表end -->
		
		</div>
		<!-- 新闻列表end -->
		<!-- 加载更多end -->
		<a ng-if="newsList.length>10" class="btn btn-default btn-block text-center" id="addMore" ng-click="addMore()">
		<div>点击加载更多》</div>
		</a>
		<!--  加载更多end -->
	</div>
		<!-- 底部end -->
		<div class="comment-bottom">Copyright 2015 itcast Inc,All rights reserved.</div>
		<!--  底部end -->
		<!-- cnzz -->
		<div style="display:none;">
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260157684'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1260157684' type='text/javascript'%3E%3C/script%3E"));</script>
						</div>
	<script src="/resources/js/jquery2.1.js"></script>
	<script src="/resources/js/bootstrap3.2.0.js"></script>
	<script src="/resources/js/angularjs.min.1.5.7.js"></script>
	<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script src="/resources/js/base.js"></script>
	<script>
		/*破外链接
		function showImg(element, url ,w,h  ) {
		        var frameid = 'frameimg' + Math.random();
		        window.img = '<img id="img" src=\''+url+'?'+Math.random()+'\'  width='+w+'  height='+h+' /><script>window.onload = function() { parent.document.getElementById(\''+frameid+'\').height =\''+h+'\'; }<'+'/script>';
		        element.replaceWith('<iframe id="'+frameid+'" src="javascript:parent.img;" frameBorder="0" scrolling="no" width='+w+'></iframe>');
		}
		function wailian(isTop){
			$("img").each(function(index){
				 var thissrc=$(this).attr("src");
				if(isTop){
					if(index==0){
				 console.log("a")
						 showImg($(this),thissrc,"97%","180px");
						}else{
				 console.log("b")
				 showImg($(this),thissrc,"100px","76px");
						}
				}else{
				 console.log("c")
				 showImg($(this),thissrc,"100px","76px");
				}
			});
		} */
	$(function(){
		//重置详情页所有图片
		$("img").each(function(){
			if($(this).attr("src").substring($(this).attr("src").lastIndexOf(".")+1)!="gif"
					&&$(this).attr("src").substring($(this).attr("src").lastIndexOf(".")+1)!="ico"
					){
	  		$(this).css({'width':'100%'});
			}else{
				$(this).css({'max-width':'100%'});
			}
	  	});
		//修改热门推荐图片大小
	  	$(".comment-list-item-img").each(function(){
	  		$(this).css({'width':'100px','height':'76px'});
	  	});
	//获取data-src
	$("img").each(function(index){
		if($(this).attr("data-src")){
			$(this).attr("src",$(this).attr("data-src"));
		}
	});
	});
    	var indexApp=angular.module('indexApp',[]);
    	indexApp.controller('indexCtrl',function($scope,$sce){
    		$scope.navMenu=myUtils.GetQueryString("type")||"介绍";
    		
    		$("#topNav a").each(function(){
    			//不存在，就展示首页
    			if(myUtils.GetQueryString("type")==null){
    			$("#topNav a:first-child").addClass("nav-active");
    			}
    			//存在哪个展示哪个
    			if(myUtils.GetQueryString("type")==$(this).children().text()){
    				console.log(myUtils.GetQueryString("type"))
    				$(this).addClass("nav-active");
    			}
    			$(this).on("click",function(){
    				var type=$(this).text().trim();
    				$("#topNav a").removeClass("nav-active")
    				$(this).addClass("nav-active");
    				//点击哪个，展示哪个,是历史记录的重要点
    				location.href=location.protocol+"//"+location.host+"/index?type="+type;
    			});
    			
    		});
    		
    		//列表
    		function initData(a){
    			$.ajax({  
    		          type : "get",  
    		          url : "/news/list?pageNum="+a.pageNum+"&pageSize="+a.pageSize+"&type="+a.type+"&orderName="+a.orderName+"&orderWay="+a.orderWay+"",  
    		          async : false,  
    		          success : function(data){
    		        	  console.log(data);
    		        	  if(data==''){
    		        		  $("#addMore").hide();
    		        		  return ;
    		        	  }else{
    		        		  $("#addMore").show();
    		        		  
    		        	  }
    		        	 //变为Html
    		        	  for (var j = 0; j < data.length; j++) {
    		        	  data[j].content=$sce.trustAsHtml(data[j].content);
    	    			  $scope.newsList=data;
						}
    		        	  if(a.pageNum>1){
    		        		  for (var int = 0; int < data.length; int++) {
    		        			$scope.newsList.push(data[int]); 
							}
    		        	  }else{
    		        	  $scope.newsList=data; 
    		        		  
    		        	  } 
    		        	  myUtils.myPrevToast("加载完成", null, "remove");
    		          }  
    		          });  
    		}
    		initData({
    			pageNum:1,
    			pageSize:10,
    			type:myUtils.GetQueryString("type")||"介绍",
    			orderName:"time",
    			orderWay:"desc"
    			});
    		$scope.list=function(type){
    			console.log($scope.navMenu)
    			myUtils.myPrevToast("加载中...", function(){
    			initData({
        			pageNum:1,
        			pageSize:10,
        			type:type,
        			orderName:"time",
        			orderWay:"desc"
        			});
    			}, "add");
    			
    		};
    		 $scope.addMore=function(){
    			$("#addMore").children().text("正在加载中...");
    			var pageNum=$(".listGroup").size()+1;
    			var type=$(".nav-active div").text().trim();
    			console.log(pageNum)
    			console.log(type)
    			initData({
        			pageNum:pageNum,
        			pageSize:10,
        			type:type,
        			orderName:"time",
        			orderWay:"desc"
        			});
    			$("#addMore").children().text("点击加载更多》");
    		}; 
    		//跳转页面
    		$scope.newsDetails=function(type,news_id){
    			location.replace("/news_details?type="+type+"&news_id="+news_id);
    			console.log("/news_details?type="+type+"&news_id="+news_id)
    		};
    		//新闻初始化
    		$scope.newsInit={
    				news_id:6160,
    				img_address:'http://t.kejixun.com/uploadfile/2016/0804/20160804024053197.jpg',
        			title:'手机支付流行，小偷开始猖獗',
        			type:'奇闻',
        			time:'2016-08-04 14:40:53',
        			content:">· 对商家而言，很难判别顾客究竟是遗漏扫码，还是不会扫码；</p>"
        				+" <p>· 数据显示，采用自助扫码技术的商家，失窃率比同业平均水平高出122%；</p>"
        				  +"<p>· 商家频繁地捉到小偷，并且小偷会承认犯罪。</p>"
        				  +"<p>Hopkins表示：“许多商家开始认识到了这些问题，开始采取措施来提醒相关风险，并确保购物篮中所有商品都被扫码且打印在收据上。”</p>"
        				  +" <p>“零售业的所有创新都是商业选择——处于购买体验更愉悦与商家利润更丰厚的考量。但同时也可能带来一些消极结果，例如失窃率增加。”</p>"
        				  +"<p>该研究显示，商家的一些选择或许会招致一些出乎预料的行为和结果。</p> "
        				 +"</div></div>"
        			};
    		//广告代码
    		//$("body").append("<div><img style='width:100%;height:10%;position:fixed;left:0;bottom:0'  src='/resources/img/splash.jpg'></img></div>");
    		$.get("/adsense/list/0",function(data){
    			if(data&&data[0].content){    				
    			console.log(data)
    			myUtils.executeJS(data[0].content);
    			}
  
    		});
    	});
    </script>
</body>
</html>
