<!-- 左边导航 -->
	 <div class="panel-group"  id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel " >
    <div class="panel-heading" >
      <h4 class="panel-title">
        <a role="button" class="nav-active" ui-sref="main.notice" href="#collapseOne">
          	首页
        </a>
      </h4>
    </div>
  </div>
  <div class="panel " >
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a  role="button" data-toggle="collapse" class="toCaret" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         测试管理
        </a>
          <span class="caret pull-right"></span>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
		<div><a ui-sref="main.testList">测试列表</a></div>
		<div><a ui-sref="main.testAdd">增加测试</a></div>
      </div>
    </div>
  </div>
</div>
	<!-- end左边导航 -->