<!-- 测试列表选择 -->
<div style="margin:10px;">
	<button class="btn btn-primary" ng-click="allNews()">全部测试列表</button>
</div>
<!-- 测试列表选择end -->
<!-- 测试列表 -->
	<div class="panel panel-default">
  <!-- Default panel contents -->
  		 <div class="panel-heading">测试列表</div>
  	</div>
	<div class="listGroup panel panel-default" ng-repeat="news in newsList" ng-click="newsDetails(news.news_id)">
  <!-- Default panel contents -->
 		 <div class="panel-body">
   		 	<div class="media-left">
				<a > <img class="media-object  comment-list-item-img " style="margin-top:12px;"
					ng-src="{{news.img_address||newsInit.img_address}}" >
				</a>
			</div>
			<div class="media-body comment-right-body">
				<div class="media-heading" ></div>
				<div class="pull-left">
					<div class="comment-right-body-title"><span ng-bind="news.title||newsInit.title"></span></div>
					<div class="text-muted"><span ng-bind="news.time||newsInit.time"></span><span class="newsType" ng-bind="news.type||newsInit.type"></span></div>
				</div>
				<div class="pull-right">
					<button class=" btn btn-warning" ng-click="updateNew(news)"><span class="glyphicon glyphicon-pencil"></span>编辑</button>
					<button class=" btn btn-danger" ng-click="deleteNew(news)"><span class="glyphicon glyphicon-trash"></span>删除</button>
				</div>
				<!-- <div class="pull-right" ng-init="news.type=='PC端'?newsDetails='pc_news_details':newsDetails='news_details'">
				</div> -->
			</div>
 		 </div>
 		 
  	</div>
<!-- 测试列表end -->
<!-- 加载更多end -->
	<a class="btn btn-default btn-block text-center" ng-if="newsList.length>10" id="addMore" ng-click="addMore(newsList)">
		<div>点击加载更多》</div>
	</a>
<!--  加载更多end -->