    <label  class="text-danger" style="font-size:30px;color:#ccc;">添加一套测试</label>
<!-- 增加测试 -->
	<form>
    <label  class="text-danger">※测试名称</label>
  <div class=" comment-input-margin">
    <input type="text" class=" comment-input" ng-model="test.title"  placeholder="输入测试标题">
  </div>
    <label  class="text-danger">※测试类型</label>
  <div class="comment-input-margin ">
   <select class=" comment-input" ng-model="test.type" ng-init="test.type='爱情测试'" ng-options="x for x in ['爱情测试','星座测试','社交测试','性格测试','财运测试','职场测试']">
</select>
  </div>
    <label  class="text-danger">*等级（1为最高级，首页置顶顶部1个，2次之，首页6个不同类型，10为正常值）</label>
  <div class="comment-input-margin ">
    <select class=" comment-input" ng-model="test.level" ng-init="test.level=10" ng-options="x for x in [10,2,1]">
</select>
  </div>
   <label  class="text-danger">※图片url</label>
  <div class="comment-input-margin">
    <input type="file" class="comment-input"   id="testFileUpload">
  <div>
  <img style="width:300px;height: 200px;" ng-src="{{test.img||''}}"/></div>
  </div>
  <hr/>
  <label  class="text-danger" style="font-size:30px;color:#ccc;">添加一个或多个问题与答案</label>
  <br/>
  <label  class="text-danger">※问题名称</label>
   <label  class="text-danger">*选择问题数目(1-20个)</label>
  <div class="comment-input-margin ">
    <select class=" comment-input" ng-model="test.problemList.length" ng-init="test.problemList.length=1" ng-change="problemListChange(test.problemList.length)"  ng-options="problemNumber for problemNumber in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
    </select>
  </div>
  <div class=" comment-input-margin"  ng-repeat="problem in test.problemList">
   <label  class="text-success">*第{{$index+1}}题</label>
    <input type="hidden" class=" comment-input" ng-model="problem.order_number" ng-init="problem.order_number=($index+1)">
   <br/>
   <label  class="text-success text-lg">序号:{{problem.order_number}}</label>
    <input type="text" class=" comment-input" ng-model="problem.name"   placeholder="输入第{{$index+1}}个问题名称">
   <label  class="text-danger" style="margin-left:20px;">*选择答案数目(1-20个)</label>
  <div class="comment-input-margin " style="margin-left:20px;">
    <select class=" comment-input" style="margin-left:20px;" ng-model="problem.answerList.length" ng-init="problem.answerList.length=1" ng-change="answerListChange(problem,problem.answerList.length)"  ng-options="answerNumber for answerNumber in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]">
    </select>
  </div>
    <div class=" comment-input-margin" style="margin-left:20px;"  ng-repeat="answer in problem.answerList ">
     <label  class="text-success" style="margin-left:20px;">*第{{$parent.$index+1}}题的第{{$index+1}}答案</label>
     <label  class="text-danger">*选择类型（结果或者跳转其他问题）</label>
  <div class="comment-input-margin ">
    <select class=" comment-input" ng-model="answer.type" ng-init="answerTypes=['结果','跳转'];answer.type='结果'"   ng-options="answerType for answerType in answerTypes">
    </select>
  </div>
    <textarea type="text" ng-if="answer.type=='结果'" class=" comment-input" style="margin-left:20px;width:500px;height:200px;" ng-model="answer.result"  placeholder="输入第{{$parent.$parent.$index+1}}个问题的第{{$index+1}}答案"></textarea>
    <label  class="text-danger" style="margin-left:20px;" ng-if="answer.type=='跳转'">*选择跳转到得目标问题序号</label>
  <div ng-if="answer.type=='跳转'" class="comment-input-margin " style="margin-left:20px;">
    <select class=" comment-input" style="margin-left:20px;" ng-model="answer.result" ng-init="answer.result=1"  ng-options="p.order_number as p.order_number for p in test.problemList">
    </select>
  </div>
    </div>
  </div>
  
  
  <button type="button" class="btn btn-lg btn-danger" ng-click="addTestForm()">保存发布</button>
</form>
<!-- 增加测试 end-->