 	<!-- 导航 -->
	<nav class="navbar navbar-default navbar-static-top comment-no-response">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
         data-target="#example-navbar-collapse">
         <span class="sr-only">切换导航</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">测壹发后台管理系统</a>
   </div>
   <div class="collapse navbar-collapse pull-right " id="example-navbar-collapse">
      <ul class="nav navbar-nav">
         <li class="dropdown">
            <a href="#" id="sellerInfo" class="dropdown-toggle" data-toggle="dropdown">
               <span ng-bind="manager_phone"></span>
               <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li class="divider"></li>
               <li><a href="#">个人资料</a></li> 
            </ul>
         </li>
         <li><a href="#" id="sellerLoginOut" ng-click="sellerLoginOut()">退出</a></li>
      </ul>
   </div>
</nav>
<!-- end导航 -->